.productContainer {
  margin-top: 50px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 1136px;
  max-width: 100%;
}

.productTitle {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}

.productListFilter {
  margin-bottom: 15px;
}
