.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cardList {
    padding: 20px 49px 20px 49px;
    width: 500px;
    border: 1px solid #ededed;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  .today {
    color: rgb(47, 52, 56);
    background-color: rgb(247, 249, 250);
    padding: 6px 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .product {
    display: flex;
  }

  .img {
    display: flex;
    width: 20%;
    height: 70px;
    margin-bottom: 10px;
  }

  .productName {
    min-width: 0;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 21px;
    overflow-wrap: break-word;
    transition: opacity 0.1s;
  }

  .modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 12px;
    background-color: rgb(247, 249, 250);
    border-radius: 4px;
    color: rgb(47, 52, 56);
  }

  .price {
    display: flex;
    justify-content: flex-end;
  }

  .payModal {
    padding: 20px 49px 20px 49px;
    width: 500px;
    border: 1px solid #ededed;
    border-radius: 10px;
    margin-bottom: 50px;

    .modal {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .paymentButton {
    background-color: #35c5f0;
    border: none;
    color: #fff;
    padding: 20px 10px;
    font-size: 17px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
}
