.addressContentTitle {
  font-size: 24px;
  line-height: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 40px 0px 30px;
}

.addressContentContainer {
  margin-bottom: 50px;
}

.addressContentInfotTitleWrap {
  margin: 0px auto;
  width: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
}

.addressContentInfoTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(234, 235, 239);
}

.addressInfoWrap {
  overflow: hidden;
  margin: -3px;
  padding: 23px 3px 3px;
  box-sizing: border-box;
}

.addressInfo {
  margin: 0px auto;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  min-height: 1px;
}

.addressInfoUserNameWrap {
  display: flex;
  padding: 0px 0px 8px;
}

.addressInfoUserName {
  display: flex;
  align-items: center;
  width: 72px;
  font-size: 15px;
  line-height: 18px;
  color: rgb(117, 117, 117);
  white-space: pre-line;
  max-height: 40px;
}

.addressInfoUserNameInputWrap {
  flex: 1 0 0px;
  max-width: 270px;
}

.addressInfoUserNameInput {
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 8px 15px 9px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
}

.addressInfoUserEmailWrap {
  display: flex;
  padding: 8px 0px;
}

.addressInfoUserEmail {
  display: flex;
  align-items: center;
  width: 72px;
  font-size: 15px;
  line-height: 18px;
  color: rgb(117, 117, 117);
  white-space: pre-line;
  max-height: 40px;
}

.addressInfoUserEmailInputFirstWrap {
  flex: 1 0 0px;
  max-width: 570px;
}

.addressInfoUserEmailInputFirstWrapAt {
  display: flex;
}

.addressInfoUserEmailInputFirstWrapAtWrap {
  display: flex;
  flex: 1 0 0px;
  width: 100%;
}

.addressInfoUserEmailInputFirstContainer {
  position: relative;
  flex: 1 0 0px;
  width: 100%;
  min-width: 270px;
}

.addressInfoUserEmailInput {
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
}

.addressInfoUserEmailAt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: rgb(41, 41, 41);
}

.addressInfoUserEmailDomainContainer {
  position: relative;
  flex: 1 0 0px;
}

.addressInfoUserEmailDomainWrap {
  width: 100%;
}

.addressInfoUserEmailDomainListWrap {
  position: relative;
  display: inline-block;
  width: 100%;
}

.addressInfoUserEmailDomainList {
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
}

.addressInfoUserPhonenumFirstContainer {
  position: relative;
  width: 85px;
  margin-right: 8px;
}

.addressInfoUserPhonenumFirstListWrap {
  position: relative;
  display: inline-block;
  width: 100%;
}

.addressInfoUserPhonenumLast {
  flex: 1 0 0px;
}

.findAddressBtn {
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #35c5f0;
  border: 1px solid #35c5f0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
  cursor: pointer;
}

.ariveAddressNumInfoUser {
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: #f5f5f5;
  color: #bdbdbd;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
}

.ariveAddressInfoUserWrap {
  display: flex;
  margin-bottom: 8px;
}

.ariveAddressInfoUser {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 40px;
  background-color: #f5f5f5;
  border-color: #dbdbdb;
  color: #bdbdbd;
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
}

.ariveAddressInfoUserNameInputWrap {
  flex: 1 0 0px;
  max-width: 570px;
}

.ariveAddressInfoUseWrap {
  display: flex;
  margin-bottom: 8px;
  max-width: 270px;
}

.finalAriveAddressWrap {
  display: flex;
  margin-bottom: 8px;
}

.finalAriveAddress {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 40px;
  background-color: #f5f5f5;
  border-color: #dbdbdb;
  color: #bdbdbd;
  padding: 8px 15px 9px;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  resize: none;
}

.modalWholeContaienr {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.modalContainer {
  opacity: 1;
  transform: none;
  flex: 0 0 auto;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 504;
}

.modalWrap {
  height: 500px;
  width: 400px;
  border-radius: 4px;
  margin: 20px auto;
  background-color: #fff;
  outline: none;
}

.modalBoxWrap {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modalBox {
  width: 100%;
  height: 52px;
  font-weight: bold;
  position: relative;
  justify-content: center;
  align-items: center;
}

.modalBoxTitlteWrap {
  width: 100%;
  height: 52px;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBoxTitlte {
  font-size: 20px;
  line-height: 28px;
  color: rgb(47, 52, 56);
}

.modalAddressContainer {
  flex: 1 0 0px;
}

.modalAddress {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
