.banner {
  position: relative;

  .imgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
  }

  .images {
    width: 90%;
    height: 500px;
    border-radius: 10px;
  }

  .bannerTextWrap {
    display: flex;
    flex-direction: column;
  }

  .bannerTitle,
  .bannerId {
    position: absolute;
    bottom: 30px;
    left: 100px;
    color: white;
    padding: 10px;
  }

  .bannerTitle {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px #000000;

    color: #ffffff;
    border-radius: 5px;
  }

  .bannerId {
    font-size: 20px;
  }

  .btn {
    position: absolute;
    background-color: #f4f4f4;
    border: none;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    margin: 5px 5px;
    transition: 0.5s;
    top: 50%;
  }

  .next {
    right: 35px;
  }
  .prev {
    left: 35px;
  }
}
