.categoriesWrapper {
  position: relative;
  width: 80%;
  margin: auto;

  .hash {
    color: black;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 48px;
    height: 48px;
    z-index: 10;
    border-radius: 50%;

    &:hover {
      background-color: #ddd;
    }

    &.prev {
      left: -10px;
    }

    &.next {
      right: -10px;
    }
  }

  .categoriesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .categoryCard {
    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    .images {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    .title {
      margin-top: 16px;
      font-size: 20px;
      font-weight: 600;
      color: #35c5f0;
    }

    .text {
      margin-top: 8px;
      font-size: 16px;
      color: #555;
    }
  }
}
