.imgWrapper {
  display: flex;
  height: 100%;
}

.carouselContnent {
  display: flex;
  flex-direction: column;
}

.carouselImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselBtnWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  width: 100%;
  padding: 0 40px;
  transform: translateY(-50%);

  .carouselBtn {
    background: rgba(33, 38, 41, 0.15);
    border: none;
    border-radius: 50%;
  }
}
